<div class="searcher">
	<div class="searcher__heading">
		<div class="searcher__intro">
			If you want to find GitHub repositories by name go to Repository Finder.
		</div>

		<div class="searcher__buttons mt-4">
			<button class="btn btn-success" [routerLink]="['/repositoryFinder']">Start</button>
		</div>

		<router-outlet></router-outlet>
	</div>
</div>