<div class="repository-wrapper">
    <ng-container *ngIf="repository">
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">User Login</th>
                    <th scope="col">Language</th>
                    <th scope="col">Default Branch</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{repository.name}}</td>
                    <td>{{repository.fullName}}</td>
                    <td>{{repository.userLogin}}</td>
                    <td>{{repository.language}}</td>
                    <td>{{repository.defaultBranch}}</td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</div>