<div class="">
    <form [formGroup]="repositoryFinderForm" (ngSubmit)="findRepositories()">
        <div class="input-group mt-4">
            <input id="name" name="name" class="form-control" placeholder="Repository name" type="text" required formControlName="name" >
            <div class="input-group-append">
                <button class="btn btn-outline-light" type="submit" [disabled]="!repositoryFinderForm.valid">Search</button>
            </div>
        </div>
        <div *ngIf="repositoryFinderForm.get('name')?.invalid && (repositoryFinderForm.get('name')?.dirty || repositoryFinderForm.get('name')?.touched)
                    && repositoryFinderForm.get('name')?.errors?.pattern" class="alert alert-danger">
            <div *ngIf="repositoryFinderForm.get('name')?.errors?.pattern">
                Invalid value.
            </div>
            <div *ngIf="repositoryFinderForm.get('name')?.errors?.required">
                Value required.
            </div>
        </div>
    </form>

    <ng-container *ngIf="repositories && repositories.totalCount > 0">
        <div class="table-wrapper">
            <table class="table mt-3">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Go to repository</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let repository of repositories.repositories; let index = index;">
                        <tr>
                            <th scope="row">{{index+1}}</th>
                            <td>{{repository.name}}</td>
                            <td>{{repository.fullName}}</td>
                            <td>
                                <button class="btn btn-primary" (click)="goToRepository(repository.url)">Check</button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </ng-container>
    <ng-container *ngIf="repositories && repositories.totalCount === 0">
        There are no repositories matching the query.
    </ng-container>
</div>